@import 'yeticss'

#nav
  @extend .container
  @extend .top-nav
  @extend .top-nav-light
  @extend .list-inline

#content
  @extend .container.pagination

.pagination
  div
    float: left

  div:not(:last-child)
    border-right: $ui-border

  .unavailable-item
    .icon-arrow-left
      border-right: 5px solid $gray-light
    .icon-arrow-right
      border-left: 5px solid $gray-light