@import 'yeticss'


.admin
  float: right

.pagination
  div
    float: left

  div:not(:last-child)
    border-right: $ui-border

  .unavailable-item
    .icon-arrow-left
      border-right: 5px solid $gray-light
    .icon-arrow-right
      border-left: 5px solid $gray-light

div.form-element
  input, textarea
    @extend .form-input

div.form-element
  li.active
    font-weight: bold

.top-nav, .top-nav li
  background-color: $blue
  label, a
    color: $blue-lighter
    &:hover, &:active, label
      color: $blue-light

li.title
  padding-left: 0
  text-transform: uppercase
  font-weight: bold

