<div>
  <div class="grid-flex-container">
    <div class="grid-flex-cell">
      <h2 class="{{titleField}}"><a data-hook="{{titleField}}"></a></h2>
      {{#teaserFields}}
      <div class="{{lowercase}}" data-hook="{{lowercase}}"></div>
      {{/teaserFields}}
      <div class="read-more"><a data-hook="read-more">Read More</a></div>
    </div>
  </div>
</div>
