style.
  body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
  }

  .tableContent img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
  }
table.tableContent(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff', style='font-family: Helvetica, Arial,serif;')
  tr
    td(height='35')
  tr
    td
      table(width='600', border='0', cellspacing='0', cellpadding='0', align='center')
        tr
          td(width='40')
          td(width='520')
            table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
              tr
                td(height='75')
              tr
                td(valign='top', align='left')
                  img(src='http://cl.ly/image/1y1s1w3m333B/logo.png', width='175', height='41', alt='')
              tr
                td(valign='top')
                  table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                    tr
                      td(height='35')
                    tr
                      td(align='left')
                        span(style='text-align: left;')
                          block content
                    tr
                      td(height='15')
              tr
                td(height='65')
              tr
                td(style='border-bottom: 1px solid #DDDDDD;')
              tr
                td(height='25')
              tr
                td
                  table(width='520', border='0', cellspacing='0', cellpadding='0', align='center')
                    tr
                      td(valign='top', align='left', width='314')
                        p(style='text-align: left; color: #4C5462; font-size: 12px; font-weight: bold; line-height: 20px;') GradSquare<br>1215 Prytania St., Suite 415<br>New Orleans, Louisiana 70130<br><br><a style="color: #4C5462; text-decoration: none;" href="mailto:info@gradsquare.com">info@gradsquare.com</a>
                      td(width='30')
                      td(valign='top', width='52')
                        a(href='https://www.linkedin.com/company/4285680')
                          img(src='http://f.cl.ly/items/2h0u1D2o0l070V3t1P37/linkedin.png', width='52', height='53', alt='linkedin icon')
                      td(width='10')
                      td(valign='top', width='52')
                        a(href='https://www.facebook.com/gradsquare')
                          img(src='http://f.cl.ly/items/443D3d2Z1A2Y3v1L0X3w/facebook.png', width='52', height='53', alt='facebook icon')
                      td(width='10')
                      td(valign='top', width='52')
                        a(href='https://twitter.com/gradsquare')
                          img(src='http://f.cl.ly/items/3n3w2f0e2C2w2B120C1B/twitter.png', width='52', height='53', alt='twitter icon')
          td(width='40')
  tr
    td(height='88')