include _mixins
extends _layout
block content
  +title("Reset password")
  +p("Please click on the button below to set a new password for your account.")
  +link("Reset Link", baseUrl + "/me/" + id + "/" + token)